@charset "utf-8";

@import url("./all.css");

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


@font-face {
    font-family: 'nbg';
    src: url(../fonts/NanumGothic.woff)format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'nbg';
    src: url(../fonts/NanumGothicBold.woff)format('woff');
    font-weight: 700;
}



/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    user-select: none;
	line-height: 1.5;
    font-family: 'nbg',sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
a{text-decoration: none; color: inherit;}
input, button{border: 0; background: transparent;
    outline: 0; vertical-align: middle;
    }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,span{display: inline-block;}

.blind{position: absolute; width: 1px; height: 1px;
    margin: -1px; overflow: hidden;}
img{max-width: 100%;}
.inner{width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    position: relative;}
.cl::after{content: ""; clear: both; display: block;}

/* header */
#header{background: #f4f4f2;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    z-index: 999;}
#header .header-in{padding: 10px;}
#header .logo{padding-left: 20px; width: 10%;}
#header .logo a{display: block;}
#header .mobile-wrap{width:34px; height: 30px; position: absolute; right:10px; top:16px;}
#header .mobile-menu{width:100%; height: 100%; display: block;}
#header .mobile-menu span{width:100%; height: 2px;
background: #0C234D; display: block; margin: 4px auto;}
#header .nav{position: fixed; right:-100%; top:0;
            width: 100%; height: 100%;
            overflow-y: auto;
        background: #fff;}
#header .gnb-header{padding: 20px 10px;
display: flex; justify-content: space-between;}
#header  .gnb-logo{width:25%;}
#header  .gnb-logo a{display: block;}
#header  .close-wrap{width:24px; height: 20px;}
#header  .close-wrap .close-btn{display: block; width:100%; height:100%;}
#header  .close-wrap span{display: block; width:100%; height: 2px; background: #333; transform: rotate(45deg);}
#header  .close-wrap span+span{transform: rotate(135deg); margin-top: -2px;}
#header .gnb-menu .main{display: block; padding: 20px 10px;
border-bottom: 1px solid #f0f0f0;
position: relative; font-size: 1.125rem;}
#header .gnb-menu .main::before, #header .gnb-menu .main::after{content:""; width:14px; border: 1px solid #333;
        display: block; position: absolute; right: 20px; top:32px;}
#header .gnb-menu .main::after{transform: rotate(90deg); transition: transform 0.2s;}
#header .lnb{display: none;}
#header .gnb_list li:hover .lnb{display: block;}
#header .top-menu{display: none;}

/*javascript*/
#header .gnb-menu .main.on::after{transform: rotate(0deg);}

#header  .gnb-banner{width:80%; margin: 50px auto;}

#header .gnb-bg{overflow: hidden; display: none;}
#header .lnb{background: #f5f5f5; 
                    font-size: 16px;}
#header .lnb a{display: block; padding: 10px 20px;}
#header .lnb .depth2>a{font-weight: 700;
                    margin-bottom: 5px;}



/* contents */
#contents .nav{height: 100px;
width: 100%;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 6%);}
#contents .nav ul{display: flex; justify-content: space-evenly;}
#contents .nav li{font-size: 20px;
padding: 42px 0 30px 0;
box-sizing: border-box;}
#contents .nav a:hover{font-weight: 700;}


#contents .find_color{
width: 100%; height: 730px;
background: linear-gradient(#d6d6d6, #f9f9f9);
position: relative;}
#contents .find_color h3{font-size: 2rem;
color: #494949;
font-weight: 400;
position: absolute;
top: 52px; left: 132px;
}

#contents .find_color img{
    position: absolute; left: 20%; margin-top: 10%;
    width: 80%;
}



#contents .find_color .color_choose{
display: flex; 
width: 100%;
justify-content: center;
margin-top: 10%;
position: absolute; bottom: -700px;}
#contents .find_color .color_choose span
{width: 50px; height: 50px;
border-radius: 50%;
margin-right: 20px;
}
#contents .find_color .color_choose span:last-child{margin-right: 0;}
#contents .find_color .color_choose span:hover{transform: scale(1.1);}
#contents .find_color .color_choose .white{background: #ffffff;}
#contents .find_color .color_choose .blue{background: #304076;}
#contents .find_color .color_choose .gray{background: #999a9c;}
#contents .find_color .color_choose .darkgray{background: #666769;}
#contents .find_color .color_choose .black{background: #37383c;}




#contents .txt{margin: 5% 0;}
#contents .txt .col{width: 100%; height: 800px;
max-width: 1430px; min-width: 1430px;
position: relative;
margin-bottom: 30px;}
#contents .txt .col h3{color: #495464; font-size: 40px;}
#contents .txt .col p{line-height: 1.5;}
#contents .txt .a img, .c img{float: left;}
#contents .txt .b img{float: right;}
#contents .txt .a .txt1, .c .txt3{float: right;}
#contents .txt .b .txt2{float: left;}


#contents .txt .a h3{text-align: right;
position: absolute;
top: 90px; right: 187px;}
#contents .txt .c h3{text-align: right;
    position: absolute;
    top: 0px; right: 187px;}
#contents .txt .b h3{font-size: 50px;
    position: absolute;
    top: 50px; left: 187px;}

#contents .txt .a p{text-align: right;
    font-size: 30px;
    position: absolute;
    top: 180px; right: 187px;}
 #contents  .txt .c p{text-align: right;
    font-size: 30px;
    position: absolute;
    top: 138px; right: 187px;}
#contents .txt .b p{font-size: 30px;
position: absolute;
top: 180px; left: 187px;}

/* footer */
/* footer */
#footer{
    font-size: 0.7rem;
    width: 100%;
    height: 350px;
    position: relative;
    margin-top: 30px;
    border-top: 1px solid #434c5a;}

#footer .bt_logo{margin: 3% 0 0 3%;}
#footer .bt_logo img{width: 50%;}
#footer .footer_txt{margin: 1%; display: flex;}
#footer .footer_txt li{margin-right: 15px;}
#footer .footer_txt li:hover{font-weight: 700;}


#footer .icon{display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 3%;
    top: 30px;
    width: 20%;}

#footer .icon i{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    height: 50px; width: 50px;
    background: #f7f6f2;
    border-radius: 50%;
    box-sizing: border-box;}


#footer li:hover .fa-twitter{color: #4a99e9;}
#footer li:hover .fa-youtube{color: #ea3323;}
#footer li:hover .fa-instagram{color: #c93578;}
#footer .footer_bottom ul{display: flex; justify-content: center;}
#footer .footer_bottom li{margin-right: 3%;}
#footer .footer_bottom li:last-child{margin-right: 0%;}
#footer .footer_bottom li:hover{font-weight: 700;}


@media screen and (min-width:960px){
    .inner{width:100%;  max-width: 1430px; margin: auto;}
    #header .header-in{padding: 0;  height:80px; width:100%; max-width: 1280px; display: flex; align-items: center;
    position: relative; margin: auto;}
    #header .logo{width: 10%;}
    #header .mobile-wrap{display: none;}
    #header .nav{position: static;right:0%;
                        width: 65%; height: auto;
                        overflow-y: hidden;
                        background:transparent;}
    #header .gnb-menu{
        margin-left: 100px;
        display: flex; 
        justify-content: space-between;}    
    #header .gnb-menu .main{ padding: 0px 20px;
        border-bottom: none; font-size: 1rem; line-height: 70px; color: #0C234D;}
    #header .gnb-menu .main::before, #header .gnb-menu .main::after , #header  .gnb-banner, #header .gnb-header{display: none;}

    #header .gnb-bg{display:none; 
        position: absolute; left:0; top:80px;
        background: #fff;
        width:100%;}
    #header .gnb-in{display: flex; 
                            justify-content: space-between;}
    #header .lnb{background:transparent;}
    #header .lnb a{display: block; padding: 0; line-height: 70px;}
    #header .lnb .depth2>a{margin-bottom: 10px;}
    #header  .gnb-in{padding: 50px; }
    #header  .gnb-in .lnb{display: flex; justify-content: space-between;
    width:90%;}
    #header  .gnb-in .lnb>li{width:calc(100%/4); padding-right: 30px;}

    #header  .header-banner .hide{display: block;}
    
    #header .top-menu{position: absolute; right:30px; top:25px; display: block;}
    #header .util:hover i{color: #f9f9f9;}
    #header .util{display: flex;}
    #header .util li{padding: 0 10px;}



}



@media screen and (max-width:480px){
    .inner{width: 100%;
    overflow: hidden;}
    #header .logo{width: 20%;}

    #footer .icon i{
            font-size: 1rem;
            line-height: 30px;
            height: 30px; width: 30px;}
        
    }